@charset "UTF-8";
.task_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 16px;
}
.task_container .task_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px #A35709 solid;
  border-radius: 8px;
  min-height: 72px;
  height: auto;
  background: #242320;
  padding: 8px 16px;
}
.task_container .task_content .task_text {
  transition: width 0.3s ease-in-out;
  margin-top: 0px;
}
.task_container .task_content .task_text h3 {
  height: auto;
  color: #F0E3CA;
  font-size: 22px;
  width: 100%;
  margin: 0px;
}
.task_container .task_content .task_text p {
  color: #F0E3CA;
  font-size: 14px;
  width: 100%; /* Ширина 100% от родительского блока */
  height: auto; /* Высота адаптивная, подстраивается под содержимое */
  overflow-wrap: break-word; /* Аналогично для поддержки в разных браузерах */
  margin: 0;
  margin-top: 5px;
}
.task_container .task_content .task_button button {
  border: 2px #A35709 solid;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  background: #1B1A17;
}
.task_container .task_content .task_button button img {
  width: 10px;
  height: 10px;
}
.task_container .task_content .task_button button:hover {
  background: #23221F;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; /* Скрываем окно по умолчанию */
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background-color: #1B1A17;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 45%;
  border-top: 4px solid #A35709;
}
.modal .modal-content p {
  font-size: 18px;
  color: white;
}
.modal .modal-content .modal-buttons {
  margin-top: 20px;
}
.modal .modal-content .modal-buttons button {
  margin: 0 10px;
  padding: 6px 4px;
  background-color: #242320;
  border: 1px solid #A35709;
  border-radius: 4px;
  color: #D9D9D9;
  width: 25%;
}
.modal .modal-content .modal-buttons button:hover {
  border: 1px solid #FF8303;
}

.modal.show { /* Класс для отображения модального окна */
  display: flex;
}

* {
  font-family: Roboto;
}

body {
  background: #1B1A17;
}
body .input_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}
body .input_form .text_forms {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .input_form .text_forms input {
  height: 18px;
  width: 100%;
  padding: 7px 14px;
  border: 1px #A35709 solid;
  background: #242320;
  margin-bottom: 8px;
  border-radius: 4px;
  color: #F0E3CA;
}
body .input_form .text_forms input::-moz-placeholder {
  color: rgba(240, 227, 202, 0.6392156863);
}
body .input_form .text_forms input::placeholder {
  color: rgba(240, 227, 202, 0.6392156863);
}
body .input_form .text_forms input:last-child {
  margin: 0px;
}
body .input_form .text_forms input:focus {
  outline: none;
  border: 1px #FF8303 solid;
  background: #2B2A27;
  color: #F0E3CA;
}
body .input_form .create_button {
  margin-left: 45px;
}
body .input_form .create_button button {
  width: 72px;
  height: 72px;
  border: 2px #FF8303 solid;
  background: #1B1A17;
  color: #FF8303;
  font-size: 50px;
  width: 70px;
  border-radius: 8px;
}
body .input_form .create_button button img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
body .input_form .create_button button:hover {
  background: #23221F;
}

#todo_container {
  width: 50%;
  margin: 0 auto;
  transition: width 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  #todo_container {
    width: 50%;
  }
  .task_text {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #todo_container {
    width: 60%;
  }
  .task_text {
    width: 85%;
  }
}
@media (max-width: 768px) {
  #todo_container {
    width: 70%;
  }
  .task_text {
    width: 80%;
  }
}
@media (max-width: 425px) {
  #todo_container {
    width: 80%;
  }
  .task_text {
    width: 75%;
  }
}
@media (max-width: 320px) {
  #todo_container {
    width: 100%;
  }
  .task_text {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */